@keyframes change-height-amount-investment-120-width {
  from {
    width: 120px;
    height: 0px;
  }
  to {
    width: 120px;
    height: 100px;
  }
}

@keyframes change-height-amount-investment-160-width {
  from {
    width: 160px;
    height: 0px;
  }
  to {
    width: 160px;
    height: 100px;
  }
}

@keyframes change-height-with-profit-120-width {
  from {
    width: 120px;
    height: 0px;
  }
  to {
    width: 120px;
    height: 191.5px;
  }
}

@keyframes change-height-with-profit-160-width {
  from {
    width: 160px;
    height: 0px;
  }
  to {
    width: 160px;
    height: 191.5px;
  }
}

@keyframes to-full-opacity {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@keyframes from-left-to-right {
  from {
    left: -5%;
  }
  to {
    left: calc(105% - 22px);
  }
}

@keyframes from-right-to-left {
  from {
    left: calc(105% - 22px);
  }
  to {
    left: -5%;
  }
}
